<!-- There can be cases when we want some repetitive code among different pages that we are going to render so to do that we can create the repititive code and then we can include them wherever we want like done below, this is known as layouts. -->
<!-- Layouts -->
<!-- https://stackoverflow.com/questions/5404830/node-js-ejs-including-a-partial -->
<%- include("header") -%>
<div class="box" id="heading">
    <h1><%= listTitle %></h1>
</div>
<!-- We have to use ejs syntax only for javascript lines and not on the html -->
<div class="box">
    <% for(var i=0; i<newListItems.length; i++){ %>
        <div class="item">
            <input type="checkbox">
            <p> <%= newListItems[i] %></p>

        </div>
    <% } %>

    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
</div>
<%- include("footer") -%>